<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicaLux</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>

<body>

    <!-- GLOBAL NAVBAR (this appears on all pages) -->
    <nav class="navbar navbar-expand-lg hms-nav fixed-top">
        <div class="container">
            <a class="navbar-brand fw-semibold" style="font-size: 25px;" href="/">MedicaLux</a>
        </div>
    </nav>

    <!-- PAGE CONTENT -->
    <main class="pt-5 mt-3">
        @RenderBody()
    </main>

    <!-- GLOBAL FOOTER HERE IF YOU WANT -->
    <footer class="text-center py-3 small text-muted">
        © 2025 MedicaLux — All Rights Reserved
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
